extends ../layouts/index.pug
block content
    .detail-container.container
        div(class="title_btn_back") 
            h1 Thông Tin Chi Tiết Sinh Viên
            a(id="btn_back"  href="/listModel") Quay lại
        if item
            p Tên: #{item.ten}
            p MSSV: #{item.mssv}
            p Gioi tinh: #{item.gioitinh}
            p Chuyen Nganh: #{item.chuyen_nganh}
            p Ngay Sinh: #{item.ngaysinh}
            p Vai Tro: #{item.vaitro}
            p Cong Viec Da lam: #{item.decription}

