extends ../layouts/index.pug
block content
    .detail-container.container
        h1 Thông Tin Chi Tiết Sinh Viên
        if item
            p Tên: #{item.ten}
            p MSSV: #{item.mssv}
            p Gioi tinh: #{item.gioitinh}
            p Chuyen Nganh: #{item.chuyen_nganh}
            p Ngay Sinh: #{item.ngaysinh}
            p Vai Tro: #{item.vaitro}
            p Cong Viec Da lam: #{item.description}
    a(id="calculateNetworkButton"  href="/listModel") Quay lại danh sách

