extends ../layouts/index
block content
    .detail-container
        h2 Thông Tin Chi Tiết Sinh Viên
        if idModel
            p Tên: #{idModel.ten}
            p MSSV: #{idModel.mssv}
            p Gioi tinh: #{idModel.gioitinh}
            p Chuyen Nganh: #{idModel.chuyen_nganh}
            p Ngay Sinh: #{idModel.ngaysinh}
            p Vai Tro: #{idModel.vaitro}
            p Cong Viec Da lam: #{idModel.description}
    a(href="/listModel") Quay lại danh sách

